.formInput{
    display: flex;
    flex-direction: column;
    text-align: left;
   
    input{
       
    }
    textarea{
        min-height: 80px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        resize: none;
    }
   
    span{
        font-size: 12px;
        color: red;
        display: none;
    }
    input:invalid ~ span{
        display: block;
    }

   

}
